[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Core
Comment=Connect to the Silubium P2P Network
Exec=silubium-qt %u
Terminal=false
Type=Application
Icon=silubium128
MimeType=x-scheme-handler/silubium;
Categories=Office;Finance;
